div.container {
    max-width:1280px;
}

form#create {
    max-width: 640px;
    margin: 0 auto;
}

nav {
    padding: 20px 50px;
}

caption {
    text-align: center;
    font-size: 24px;
    font-style: italic;
}

.text-bold {
	font-weight: bold;
}

#messages-list tr:nth-child(odd) {
	background-color: #fff;
}

#messages-list tr:nth-child(even) {
	background-color: #eee;
}